        ---
        interface Props {
          title: string;
          body: string;
          href: string;
          priceRub: number;
          priceUsd?: number; // Опционально
          image?: string; // Опционально
        }

        const { href, title, body, priceRub, priceUsd, image } = Astro.props;
        ---

        <li class="link-card">
          <a href={href}>
            {image && <img src={image} alt={title} class="product-image" />}
            <h2>
              {title}
              <span>&rarr;</span>
            </h2>
            <p>{body.substring(0, 100)}...</p> {/* Отображаем только часть описания */}
            <p class="price">
              {priceRub} ₽ {priceUsd && ` / ${priceUsd} $`}
            </p>
          </a>
        </li>

        <style>
          .link-card {
            list-style: none;
            display: flex;
            padding: 1px;
            background-color: #23262d;
            background-image: none;
            background-size: 400%;
            border-radius: 7px;
            background-position: 100%;
            transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
          }

          .link-card > a {
            width: 100%;
            text-decoration: none;
            line-height: 1.4;
            padding: 1rem 1.5rem;
            border-radius: 8px;
            color: white;
            background-color: #23262d;
            opacity: 0.8;
          }
          h2 {
            margin: 0;
            font-size: 1.25rem;
            transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
          }
          p {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
          }
          .product-image {
            width: 100%;
            height: 200px; /* Фиксированная высота */
            object-fit: cover; /* Обрезка, чтобы изображение заполнило область */
            border-radius: 4px;
            margin-bottom: 1rem;
          }
          .price {
            font-weight: bold;
            color: limegreen;
            font-size: 1.1em;
          }
          .link-card:is(:hover, :focus-within) {
            background-position: 0;
            background-image: var(--accent-gradient);
          }
          .link-card:is(:hover, :focus-within) h2 {
            color: rgb(var(--accent-light));
          }
        </style>
